/*nav style*/
/*body::-webkit-scrollbar {
    display: none;
}*/
body{
    background-size: 100%;
    overflow: hidden;
}
.nav-item {
    font-weight: bolder;
    font-size: 15px;
}
.navigation:hover {
    color: red !important;
}
body >section> nav > div > a {
    color: white !important;
    font-weight: bold;
    font-size: 40px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar-collapse{
    flex-grow: 0;
}

/*dash board style*/
#dashBoardContent {
    width: 100vw;
    height: 90vh;
}
#descriptionDiv {
    position: absolute;
    left: 0;
    right: 400px;
    top: 100px;
    bottom: 49%;
    margin: auto;
    width: 41vw;
    height: 7vh;
    z-index: 10000;
}
#dis1{
    font-weight: bold;
    color: white;
    font-size: 50px;
}
#dis2{
    color: white;
}

/*login form*/
.mb-4 {
    margin-bottom: 0 !important;
}
#loginForm{
    width: 28vw;
    height: 510px;
    position: absolute;
    right: 1%;
    top: 40px;
    bottom: 0;
    margin: auto;
    background: linear-gradient(45deg, black, transparent);
    border-radius: 1rem;
    z-index: 100000000
}
#loginCloseBtn:hover{
    background: red;
}
#loginCloseBtn{
    position: absolute;
    right: 0;
    z-index: 1000000000;
}
.card{
    background:transparent;
}

#userType{
    width: 42%;
    height: 10%;
    border-radius: 1rem;
}
/*sign up*/
#sec1{
    position: absolute;
    left: 8%;
}
#sec2{
    position: absolute;
    left: 37%;
}
#sec3{
    position: absolute;
    left: 69%;
}

/*admin dash board*/
#sidebar{
    background: black !important;
    min-width: 100px;
    width: 17vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top:55px;
    transition: all 0.4s;
}
#dashside{
    position: absolute;
    left: 17%;
}
#dashboard-content{
    position: absolute;
    width: 82vw;
    height: 90vh;
    left: 30vw;
}
.dashboard{
    position: absolute;
    width: 82vw;
    height: 90vh;
}
.details-box{
    border-radius: 40px;
    box-shadow: 12px 12px 22px gray;
}

/*service */
.divIcon{
    width: 150px;
    height: 150px;
    background: lightblue;
    border-radius: 100%;
    border: 1px solid black;
}
.serviceTittle{
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: 10%;
    color: white;
    font-size: 100px;
}
#serviceInfoDiv{
    position: absolute;
    top: 20%;
}
.driverNeedDiv{
    position: absolute;
    width: 100% ;
    height: 60%;
    background: red;
    top: 223%;
}
.driverNeedDiv1{
    content: "";
    position: absolute;
    border-top: 381px solid #01d28e;
    border-left: 0 solid transparent;
    border-right: 94px solid transparent;
    height: 0;
    width: 50%;
    z-index: 10000000000;
}
.driverNeedDivImg{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 73%;
}
.driverNeedBtn{
    position: absolute;
    right: 22%;
    top: 74%;
    width: 17%;
    background: #1089ff !important;
    border: 1px solid #1089ff !important;
    color: #fff !important;
}
.driverIcon{
    position: absolute;
    width: 150px;
    height: 150px;
    background: lightblue;
    border-radius: 100%;
    border: 1px solid black;
}
#driverInfoDiv{
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 20000000000;
    right: 0;
    bottom: 0;
    margin: auto;
}
#driverInfoDiv2{
     position: absolute;
     left: 0;
     top: 77%;
     z-index: 20000000000;
     right: 0;
     bottom: 0;
     margin: auto;
 }
#driverInfoText{
      position: absolute;
      width: 26%;
      height: 0;
      left: 0;
      top: -60%;
      z-index: 20000000000;
      right: 29%;
      bottom: 0;
      margin: auto;
  }
#driverInfoText2{
       position: absolute;
       width: 26%;
       height: 0;
       left: 0;
       top: 26%;
       z-index: 20000000000;
       right: 29%;
       bottom: 0;
       margin: auto;
   }
#driverName{
    content: "Pathum";
}
#serviceInfoTitle{
    position: absolute;
    left: 35%;
    right: 0;
    top: 10%;
    margin: auto;
    z-index: 2500000000000000000000;
}
#services2{
    position: absolute;
    left: 19%;
    right: 0;
    top: -45%;
    bottom: 0;
    margin: auto;
    font-size: 18px;
}

/*manage car*/
#manageCarContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}
#sec1Car{
    position: absolute;
    left: 8%;
}
#sec2Car{
    position: absolute;
    left: 37%;
}
#sec3Car{
    position: absolute;
    left: 69%;
}

/*mange table car*/
#manageCarTableContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}
#manageCarDetails{
    position: absolute;
    right: 2vw;
    bottom: 5vh;
    width: 20%;
}

/*mange Customer*/
#manageUserTable{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}

/*manage driver*/
#manageDriverContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}
#sec1Driver{
    position: absolute;
    left: 8%;
}
#sec2Driver{
    position: absolute;
    left: 37%;
}
#sec3Driver{
    position: absolute;
    left: 69%;
}
#manageDriverTable{
    position: absolute;
    top: 50%;
    left: 10%;
}

/*car Details */
.rentCarBtn{
    position: absolute;
    background: yellow;
    animation-name: rentNow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.carImg{
    width: 18rem;
    height: 200px;
}
#carTittle{
    position: absolute;
    left: 35%;
    top: 10%;
    color: white;
    font-size: 100px;
}
#carTable{
    position: absolute;
    margin-top: 1%;
    right: 1%;
    left: 1%;
}

/*car rent user*/
#sidebarCus{
    background: black !important;
    min-width: 100px;
    width: 15vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top:55px;
    transition: all 0.4s;
}
#uibar{
    position: absolute;
    top:90px ;
}
#dashUser{
    position: absolute;
    left: 15vw;
    height: 100vh;
    width: 85vw;
}
#bookingRes{
    position: absolute;
    left: 15vw;
    height: 100vh;
    width: 85vw;
}
#bookingRes2{
    position: absolute;
    left: 15vw;
    height: 100vh;
    width: 85vw;
    background-color: gray;
}
#btnDeleteRental{
    background: red;
    color: white;
}
#paymentUser{
    position: absolute;
    left: 15vw;
    width: 85vw;
    height: 100vh;
}
#collagePara{
    position: absolute;
    color: black;
    background-color: yellow;
    font-size: 50px;
    top: 20vh;
    left: 20vw;
}
/*payment details*/
#paymentDetailsContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}
/*maintenence*/
#mainteneceContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}
/*request*/
#reqContent {
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}
/*responses*/
#responsesContent {
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}
/*income Report*/
#incomeReportContent{
    position: absolute;
    width: 83vw;
    height: 100vh;
    right: 0;
    top: 55px;
    left: 17vw;
    background: gray !important;
}